#title_name {
    background-color: chocolate;
    margin-top: 0;
    margin-left: 0;
    color: white;
    text-indent: 50px;
    text-align: right;
}

#intro {
    height: 400px;
    width: 100%;
    background-image: url("./images/juneau.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#projects_button {
    background-color: rgb(3, 53, 3);
    color: white;
    text-indent: 50px;
    margin:0;
    padding:0;
}

#projects {
   display:none;
   height: 100px;
   background-color: greenyellow;
   color: black;
   margin:0;
   padding:0;
}

.left_object {
    float: left;

}

#about_info {
    display: block;
}

html {
    margin: 0;
    padding: 0;
}


#about_title {
    color:white;
    background-color: rgb(90, 90, 90);
    text-indent: 50px;
    margin:0;
    padding:0;

}

#about {
    background-color: black;
    color: white;
    height: 350px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}

#work_title {
    background-color: chocolate;
    color: white;
    text-indent: 50px;
    margin:0;
    padding:0;
}

#work_list {
    background-color: #E7955A;
    display:none;
}